.elementsContainer{
    display: grid;
    grid-template-columns: repeat(18, 44px);
    grid-template-rows: repeat(2, 44px);
}

.element{
    background-color: #A7A9AC;
    border: 4px solid #eceded;
    color: #ECEDED;
    opacity: 0.5;
}

.element:hover{
    background-color: #A7A9AC;
    color: #eceded;
    opacity: 1;
}