.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 0.75rem;
    width: 100%;
}

.left{
    grid-column: 1;
}

.right{
    grid-column: 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.elementRow{
    grid-row: 1;
    background-color: aqua;
}

.atomicStructure{
    grid-row: 2;
}